body{
    font-family: 'Montserrat', sans-serif;
}



.hello{
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 58px;
line-height: 80px;
}

.hello2{
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 30px;
}

#testimonial h1{
    -webkit-text-stroke: 5px;
    text-shadow: 0px 5px 4px black;
    word-spacing: 5px;
    letter-spacing: 2px;

}

#testimonial h7{
    color: #96BB7C;
    -webkit-text-stroke:1.5px;

}
#testimonial h6{
    color: #737373;
    -webkit-text-stroke: .5px;

}

@media  (min-width: 992px){
    iframe{
        height: 20rem;
        width: 40rem;
    }
}
    
@media  (max-width: 720px){
    #testimonial h6{
        font-size:small;
    
    }
}

@media  (max-width: 992px){
    #rocket-img img{
    height: 8rem;
    width: 8rem;
    }
}
@media  (max-width: 992px){
    #landing-page .col-6 {
    margin-left: 26%;
    }
}